<h2 class="name"> Camping information for <%= @park.name%></h2>

<div class="description"> <%=@park.description> </div>
<div class="direction-info"> <%=@park.direction_info> </div>
<div class="phone-numbers"> <%=@park.phone_numbers> </div>
<div class="emails"> <%=@park.emails> </div>
<div class="total-count"> <%=@park.total_count> </div>
<div class="tent-count"> <%=@park.tent-count> </div>
<div class="rv-count"> <%=@park.rv_count> </div>
<div class="group-count"> <%=@park.group-count> </div>
<div class="horse-count"> <%=@park.horse-count> </div>
<div class="other-count"> <%=@park.other-count> </div>
<div class="toilets"> <%=@park.toilets> </div>
<div class="showers"> <%=@park.showers> </div>
<div class="trash-recycling"> <%=@park.trash_recycling> </div>
<div class="laundry"> <%=@park.laundry> </div>
<div class="onsite-host"> <%=@park.onsite_host> </div>
<div class="potable-water"> <%=@park.potable_water> </div>
<div class="ice"> <%=@park.> </div>
<div class="firewood"> <%=@park.firewood> </div>
<div class="access-roads"> <%=@park.access_roads> </div>
<div class="food-storage-lockers"> <%=@park.food-storage-lockers> </div>
<div class="fire-stove-policy"> <%=@park.fire_stove_policy> </div>
<div class="accessibility-info"> <%=@park.accessibility_info> </div>
<div class="wheelchair-access"> <%=@park.wheelchair_access> </div>
<div class="cell-phone-reception"> <%=@park.cell_phone_reception> </div>
