<!DOCTYPE html>
<html>
  <head>
    <title>Plot Forethought</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'tent/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container-fluid">
    <div class="row nav">
      <div class="col-xs-9" >
        <h1>Plot Forethought</h1>
      </div>
      <div class="col-xs-3 logout">
        <% if current_user %>
          <%= link_to "Logout", logout_path %>
        <%end%>
      </div>
    </div>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
